{% extends 'base.html' %}
{% load static %}
{% block title %}
Shopping Bag
{% endblock title %}
{% block content %}

<div class="row">
  <div class="col">
    {% if bag_items %}
    <div class="table-responsive rounded">
      <table class="table table-sm table-borderless">
        <thead class="text-black">
          <tr>
            <th scope="col">Courses</th>
            <th scope="col"></th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>

        {% for item in bag_items %}

        <tr>
          <td class="p-3 w-25">
            <img class="img-fluid rounded" src="{{ item.course.thumbnail }}">
          </td>
          <td class="py-3">
            <p class="my-0"><strong>{{ item.course.name }}</strong></p>
            <form class="form update-form" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    
                      <a href="{% url 'remove_one' item.item_id %}">
                      <span>
                        <i class="fas fa-minus fa-sm"></i>
                      </span>
                    </a>
                  </div>
                  <div class="mx-5 font-weight-bold">
                    <span> {{ item.quantity }}</span>
                  </div>
                  <div class="input-group-append">
                      <a href="{% url 'add_one' item.item_id %}">
                      <span>
                       <i class="fas fa-plus fa-sm"></i>
                      </span>
                    </a>
                  </div>
                </div>
            </form>
            <div>
            <a href="{% url 'remove_item' item.item_id %}" class="text-danger">
              Remove
            </a>
          </div>
          </td>
          <td class="py-3">
            <p class="my-0">£{{ item.course.price }}</p>
          </td>
          <td class="py-3 w-25">
            <p class="my-0">{{ item.quantity }}</p>
          </td>
          <td class="py-3">
            <p class="my-0">${{ item.course.price }}</p>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="5" class="pt-5 text-right">
            <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
          </td>
        </tr>
        <tr>
          <td colspan="5" class="text-right">
            <a href="{% url 'course-list' %}" class="btn btn-outline-black rounded-0 btn-lg">
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
              <span class="text-uppercase">Secure Checkout</span>
              <span class="icon">
                <i class="fas fa-lock"></i>
              </span>
            </a>
          </td>
        </tr>
      </table>
    </div>
    {% else %}
    <p class="lead mb-5">Your bag is empty.</p>
    <a href="{% url 'course-list' %}" class="btn btn-outline-black rounded-0 btn-lg">
      <span class="icon">
        <i class="fas fa-chevron-left"></i>
      </span>
      <span class="text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
  </div>
</div>
</div>
<div>
  <div>
    <img src="{% static 'images/cart-bg.jpg' %}" class="" width="100%" height="100%" alt="Suscription-image">
  </div>

{% endblock %}