{% extends 'base.html' %}
{% block title %}
{{object.name}}
{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video autoplay loop controls poster="{{ object.thumbnail.url }}" class="embed-responsive-item"
                            src="...">
                            <source src="{{ object.video_intro_url }}" type="video/mp4">
                        </video>
                    </div>
                    <h5 class="font-weight-bold mt-4">
                        Description
                    </h5>
                    <p class="card-text">{{object.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title font-weight-bold mb-4">{{object.name}}</div>
                    <div class="card-subtitle text-muted-mb-4">{{object.sub_title}}</div>
                    <p>
                        <a href="" class="btn btn-dark btn-block font-weight-bold mt-4">View</a>
                    </p>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Rock Yoga
                    </h4>
                    <p class="card-subtitle">
                        Intructor
                    </p>
                </div>
                <div class="card-body">
                    The instructot's description
                </div>
            </div>
            <br>
            <div class="card">

                <div class="card-body">
                    <i class="fas fa-th"></i>
                    &nbsp; {{ object.category }}
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h5 class="font-weight-bold mb-3">
                Curriculum for this course
            </h5>
            {% for section in course.sections.all %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">
                        Section #{{ section.position }} - {{ section.title }}
                    </div>
                    <hr>
                    <div class="list">
                        <div class="list-row">
                            {% for video in section.videos.all %}
                            <div class="list-item mb-3 mr-3">
                                <a href="">
                                    <div>
                                        <img src="{{ video.thumbnail.url }}" width="100%" alt="">
                                    </div>
                                    <div class="mt-2 text-dark">
                                        <div class="card-text">
                                            {{ video.position }}. {{ video.title }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- <h1>{{object.name}}</h1>
<h1>{{object.sub_title}}</h1>
<h1>{{object.description}}</h1>
<h1>{{object.video_intro_url}}</h1> -->
    {% endblock content %}