<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm bg-white" style="background-color: black;">
    <a class="navbar-brand" href="{% url 'course-list' %}">Rock Yoga on demand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link text-dark dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'category-list' %}">Ashtanga for Begginers</a>
                    <a class="dropdown-item" href="{% url 'category-list' %}">Ashtanga for Everyone</a>
                    <a class="dropdown-item" href="{% url 'category-list' %}">Ashtanga Adjustments for teachers</a>
            </li>

            <!-- <form class="form-inline" methdo="GET">
                <div class="input-group">
                    <input type="text" class="from-control" placeholder="Sear for anything" id="search-input">
                    <div class="input-group-append">
                        <button type="submit" class="imput-group-text" >Search</i></i></button>
                    </div>
                </div>
            </form> -->

            <li class="nav-item">
                <a href="{% url 'view_bag' %}" class="nav-link text-dark nav-text">Shopping Cart</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'subscription_type' %}" class="nav-link text-dark nav-text">Subscription Price</a>
            </li>
            <!-- <li class="nav-item">
                <a href="" class="nav-link text-dark nav-text">More</a>
            </li> -->

        </ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ user.student.avatar.url }}" class="rounded-circule" height="25" alt="">Welcome {{user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'my_profile' %}">My Profile</a>
                <a class="dropdown-item" href="#">Subscription</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
        {% else %}
        <div class="nav-item">
            <a href="{% url 'login' %}" class="nav-link btn btn-log-in">Log in</a>
        </div>
        <div class="nav-item">
            <a href="{% url 'register' %}" class="nav-link btn ml-3 btn-sign-up">Sign Up</a>
        </div>
        {% endif %}
    </div>
</nav>