<nav class="navbar navbar-expand-lg navbar-light border-bottom shadow-sm bg-white">
    <a class="navbar-brand" href="{% url 'view_home' %}">Rock Yoga <i class="fas fa-yin-yang"></i>N Demand</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'course-list' %}" class="nav-link text-dark nav-text">Courses</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'view_bag' %}" class="nav-link text-dark nav-text">Shopping Cart</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'subscription_type' %}" class="nav-link text-dark nav-text">Subscription Price</a>
            </li>
        </ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <div class="nav-item dropdown">
            <a class="nav-link text-dark dropdown-toggle nav-text" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{{ user.student.avatar.url }}" class="rounded-circule" height="25" alt="">Welcome {{user.username}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'my_profile' %}">My Profile</a>
                <a class="dropdown-item" href="#">Subscription</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
        {% else %}
        <div class="nav-item">
            <a href="{% url 'login' %}" class="nav-link btn btn-log-in">Log in</a>
        </div>
        <div class="nav-item">
            <a href="{% url 'register' %}" class="nav-link btn ml-3 btn-sign-up">Sign Up</a>
        </div>
        {% endif %}
    </div>
</nav>