{% extends 'base.html' %}
{% block title %}
{{object.name}}
{% endblock title %}
{% block content %}
<div class="mt-5">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video autoplay loop controls poster="{{ object.thumbnail }}" class="embed-responsive-item">
                            <source src="{{object.video_intro_url}}" type="video/mp4">
                        </video>
                    </div>
                    <h5 class="font-weight-bold mt-4">
                        Description
                    </h5>
                    <p class="card-text">{{ course.description }}</p>
                    <form class="form" action="{% url 'add_to_bag' course.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-lg-4 col-sm-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <input class="form-control qty_input" type="number" name="quantity" value="1" min="1" max="99"
                                         data-item_id="{{ course.id }}" id="id_qty_{{ course.id }}">
                                        
                                     </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'course-list' %}" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 text-center">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title font-weight-bold mb-4">{{object.name}}</h3>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">
                        Rock Bristol School of Yoga
                    </h4>
                </div>
            </div>
            <br>
            <div class="card mb-4">
                <div class="card-body">
                    <i class="fas fa-th"></i>
                    &nbsp; {{ object.category }}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h5 class="font-weight-bold mb-3">
                Curriculum for this course
            </h5>
            {% for section in course.sections.all %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="card-title">
                        Section #{{ section.position }} - {{ section.title }}
                    </div>
                    <hr>
                    <div class="list">
                        <div class="list-row">
                            {% for video in section.videos.all %}
                            <div class="list-item mb-3 mr-3">
                                <a href="{{ video.get_absolute_url }}">
                                    <div>
                                        <img src="{{ video.thumbnail.url }}" width="100%" alt="">
                                    </div>
                                    <div class="mt-2 text-dark">
                                        <div class="card-text">
                                            {{ video.position }}. {{ video.title }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock content %}