{% extends 'base.html' %}
{% block title %}
Course list
{% endblock title %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        {% for object in products %}
        <div class="col-sm-12 col-lg-6">
            <div class="card-course px-5">
                <a href="{{ object.get_absolute_url }}">
                <img src="{{ object.thumbnail }}" class="card-img-top" alt="thumbnail">
                 </a>
                <div class="card-body">
                    <p class="card-text font-weight-bold">{{ object.name }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="font-weight-bold pricing-text">£{{  object.price }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}