{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block content %}
{% load static %}
<div class="hero">
    <div class="embed-responsive embed-responsive-16by9">
        <video id="background-video" autoplay loop controls poster="" class="embed-responsive-item">
            <source src="static/videos/video.mp4" type="video/mp4">
        </video>
        <div class="overlay">
            <h1>Your Yoga School at Home</h1>
        </div>

    </div>
</div>
{% endblock content %}