{% extends 'base.html' %}
{% block title %}
Categories
{% endblock title %}
{% block content %}
{% load static %}
<div class="my-5">
    <div class="row">
        {% for product in products %}
        <div class="col-md-5">
            <div class="my-5 mx-5 shadow-sm card-course">
                <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.thumbnail }}" class="card-img-top" alt="thumbnail">
                 </a>
                <div class="card-body">
                    <p class="card-text font-weight-bold">{{ product.name }} {{ product.category }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="font-weight-bold pricing-text">£{{  product.price }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}