{% extends 'base.html' %}
{% load embed_video_tags %}
{% block title %}
Learn
{% endblock title %}

{% block video_header %}
<div class="container-fluid text-light bg-dark">
    <div class="row">
        <div class="col-9">
            <h5>{{ course.name }}</h5>
        </div>
        <div class="col-3 text-right p-3 video_navbar">
            <a href="{{ course.get_absolute_url }}">Course details <i class="fas fa-chevron-right" ></i></a>
        </div>
    </div>
</div>
{% endblock video_header %}

{% block content %}
<div class="container-fluid bg-withe ">
    <div class="row">
        <div class="col-9 px-0">
            <div class="embed-responsive embed-responsive-16by9">
                {% for item in Videos %}
                    {% video item.video as my  %}
                    <i frame width="{{ 480 }}" height="{{ 320 }}" src="{{ my.video_url }}" frameborder="0" allowfullscreen> </i frame>
                    {% endvideo %}
                {% endfor %}
                <iframe width="940" height="529" src="{{ object.video_url }}" title=""Black Bolt Kills Dr. Strange" Scene || Doctor Strange in the Multiverse of Madness" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-3 px-0">
            <div class="border border-1">
                <h6 class="font-weight-bold ml-2 mt-2 pt-2">Course content</h6>
                {% for section in course.sections.all %}
                <div class="accordion" id="accordionExample">
                    <div class="card border border-top-1 border-left-0 border-right-0 border-bottom-0 rounded-0">
                      <div class="card-header pl-1" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link text-left text-dark text-decoration-none font-weight-bold" type="button" data-toggle="collapse" data-target="#{{section.slug}}" aria-expanded="true" aria-controls="{{section.slug}}">
                        Section {{section.position}}: {{section.title}}
                        <span class="float-right"><i class="fas fa-plus"></i></span>
                          </button>
                        </h2>
                      </div>
                      {% for video in section.videos.all %}
                      <div id="{{section.slug}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <a href="{{ object.get_absolute_url}}" class="text-dark">{{video.position}}. {{video.title}}</a>
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endfor %}
            </div>


        </div>
    </div>
</div>
{% endblock content %}