body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400px;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f8fa;
    letter-spacing: 0.7px;
}

#hero { 
    position:relative;

}

#hero video {

    height:10vh;
    width: 100%;
    background-position: absolute;
    z-index:10;
    object-fit:cover;

}