body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400px;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f8fa;
    letter-spacing: 0.7px;
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
