.card-stori {
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgb(47 50 56 / 20%), 3px 10px 0 rgb(47 50 56 / 19%);

}

.overlay-story {
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
  position: absolute;
  bottom: 151px;
  right: 0;
  width: 33%;
  margin: 48px;
  padding: inherit;
  box-sizing: border-box;
  line-height: 1.5;
  text-align: center;
  color: rgb(130, 138, 66);
  font-size: xx-large;
  background-color: lightgray;
  border-radius: 5%;

}

.card-body-stori {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-img-stori {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel {
  --current-slide: 0;
  /* we set position relative so absolute position works properly for the buttons */
  position: relative;
  overflow: hidden;
}

.carousel-button {
  /* vertically centering the buttons */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  /* basic styling */
  padding: 0;
  margin: 0.5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;

  font-size: 1.5rem;
  cursor: pointer;

  transition: color 0.1s;
}

.carousel-button:hover {
  color: #d39e00;
}

.carousel-button_next {
  /* The "next slide button" will be at the right */
  right: 0;
}

.slides {
  display: flex;
  transition: transform 0.5s;
  transform: translateX(calc(-100% * var(--current-slide)));
}

.slide {
  flex: 0 0 100%;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

story-messages {
  margin: 0%;
  padding: 0%;
}

@media screen and (min-width: 768px) {
  .carousel-button {
    font-size: 2rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 500px) {
  .overlay-story {
    top: 12%;
    left: 41%;
    transform: translate(-50%, -50%);
    opacity: .8;
    position: absolute;
    bottom: 151px;
    right: 0;
    width: 70%;
    margin: 103px 90px 125px;
    box-sizing: border-box;
    line-height: 2.5;
    text-align: center;
    color: rgb(130, 138, 66);
    font-size: large;
    background-color: lightgray;
    border-radius: 5%;
  }
}

@media screen and (min-width: 400px) {
  .overlay-story {
    top: 16%;
    left: 23%;
    transform: translate(-50%, -50%);
    opacity: .8;
    position: absolute;
    bottom: 151px;
    right: 0;
    width: 78%;
    margin: 102px;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: center;
    color: rgb(130, 138, 66);
    font-size: large;
    background-color: lightgray;
    border-radius: 5%;
  }
}

@media screen and (min-width: 300px) {
  .overlay-story {
    top: 16%;
    left: 18%;
    transform: translate(-50%, -50%);
    opacity: .8;
    position: absolute;
    bottom: 151px;
    right: 0;
    width: 78%;
    margin: 102px;
    box-sizing: border-box;
    line-height: 1.5;
    text-align: center;
    color: rgb(130, 138, 66);
    font-size: large;
    background-color: lightgray;
    border-radius: 5%;
  }

}
}

@media screen and (min-width: 768px) {
  .overlay-story {
    font-size: small;
    width: 58%;
  }
}

@media screen and (min-width: 500px) {
  .overlay-story {
    font-size: x-small;
    width: 58%;
  }
}